<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info"
	name="spring-boot-log-to-kafka-example" packages="com.demo.test">

	<Appenders>
		<Kafka name="kafkaAppender" topic="test_logs">
			<!-- <JSONLayout /> -->
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" /> -->
			<PatternLayout pattern="%date %message" />
			<Property name="bootstrap.servers">10.147.144.81:9092,10.147.144.164:9092,10.147.144.188:9092
			</Property>
		</Kafka>
		<Async name="Async">
			<AppenderRef ref="kafkaAppender" />
		</Async>


		<!--stdout/stderr included for testing Oozie log4j edits -->
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5p [%-7t] %F:%L - %m%n" />
		</Console>
		<Console name="stderr" target="SYSTEM_ERR">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5p [%-7t] %F:%L - %m%n" />
			<Filters>
				<ThresholdFilter level="WARN" onMatch="ACCEPT" />
			</Filters>
		</Console>

	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="kafkaAppender" />

			<!--stdout/stderr included for testing Oozie log4j edits -->
			<AppenderRef ref="stdout" />
			<AppenderRef ref="stderr" />
		</Root>
		<Logger name="com.demo.test.*" level="warn" additivity="false">
			<AppenderRef ref="kafkaAppender" />
		</Logger>
		<Logger name="org.apache.kafka" level="warn" />
	</Loggers>
</Configuration>